
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    max-width: 100%;    
}


main {  
    text-align: center;
    background-color: rgb( 242, 215, 213);
}
main img {
    max-width: 100%;
}
footer{    
    background-color: rgb( 28, 40, 51);
    text-align: center;
    font-size: x-large;
    

}
footer p {
    color:  #ded0c2;

}
header {
    background-color: rgb( 28, 40, 51);    
    color:  #ded0c2;
    display: flex;
    justify-content:center;
    align-items: center;
    

    
    
}



.logo {
    
    max-width: 150px;
    object-fit: contain;
    padding: 25px;
    
  }
  .nav_links{
      list-style: none;
      

  }
.nav_links li {
    display: inline-block;
    padding: 0px 10px;
    font-size: x-large;
}

h1 {
    font-size: xx-large;
    padding: 5px;
}

h2 {
        font-size: x-large;
        padding: 5px;
}

.actividades{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

  p {
      color: black;
      font-size: medium;
      font-family: 'Nunito Sans', sans-serif;
      /*margin: 1%;*/
  }
a:visited {
    color:  #ded0c2;
}
a:link {
    color:  #ded0c2;

}
  a:hover {
      color: #FF7AC6;
  }




  .card {
    /* Add shadows to create the "card" effect */
    margin: 1vw;

  }
  
  .card img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    object-fit: cover;
    height: max(10rem, 25vh);
    max-height: max(10rem, 30vh);
    aspect-ratio: 4/3;
    mix-blend-mode: var(--card-blend-mode);
    

  }



  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .cardContenido {
    padding: 2px 16px;
  }
 /* Media queries breakpoints*/

 /*
 hasta 600px
 desde 768px
 desde 1200px
 */

